<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MyKey"
         connectionString="Data Source=LAPTOP-JC4EIJCF\SQLEXPRESS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>